
.imghome{

    display: flex;
    margin-left: 0%;
    justify-content: "center";
    align-items: "center";
    align-content: "center";
    width: 100%;
    opacity: 0.35;
    height: 80%;
  }
  
  /*@import "../../style.scss";
  
  .home{
    @include themify($themes) {
      padding: 20px 70px;
      background-color: themed("bgSoft");
      min-height: 100vh;
  
      @include mobile {
        padding: 10px;
      }
  
      @include tablet{
        padding: 20px;
      }
    }
   }*/